body {
    font: 22px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

/* .square {
    float: left;
    border: 2px solid rgb(104, 104, 104);
} */

/* .board-row:after, .square-row:after { */
.square-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square-container {
    border: 1px solid #999;
}
.square, .square-container {
    float: left;
}
.square {
    border: none;
    background: #fff;
    font-size: 26px;
    /* font-weight: bold; */
    line-height: 48px;
    height: 48px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 48px;
}
.square-focus {
    border: 2px solid rgb(0, 201, 60);
}

.square:focus {
    outline: none;
}

.square-border-l {
    border-left: 3px solid #999;
}
.square-border-t {
    border-top: 3px solid #999;
}
.square-border-r {
    border-right: 3px solid #999;
}
.square-border-b {
    border-bottom: 3px solid #999;
}

.kbd-navigation .square:focus {
    background: #ddd;
}

.game {
    display: flex;
    flex-direction: row;
}

.game-info {
    margin-left: 20px;
}
